* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 2%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 2%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 2%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 525px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 400px;
    flex-direction: column;
  }
}
a {
  text-decoration: none;
  color: #212529;
  font-size: 1.6rem;
}
a:hover {
  color: gray;
}
.btn {
  background: #17A2B8;
  padding: 4%;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  transition: filter 0.3s linear;
}
.btn:hover {
  filter: grayscale(90%);
}
.btn a {
  font-size: 2rem;
  color: #FFFFFF;
}
header .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem dashed #C0C0C0;
}
header .nav-top nav {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
@media screen and (max-width: 1000px) {
  header .nav-top nav {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  header .nav-top {
    flex-direction: column;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media screen and (max-width: 550px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media screen and (max-width: 550px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .inverse-content {
  padding-bottom: 1px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media screen and (max-width: 550px) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
@media screen and (max-width: 550px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .home .content-pick .destination {
    width: 75%;
  }
}
@media screen and (max-width: 550px) {
  .home .content-pick .destination {
    width: 85%;
  }
}
@media screen and (max-width: 1000px) {
  .home .content-pick {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1rem;
  font-style: italic;
  padding: 20px;
}
